.footerwrapper {
  position: relative;
  bottom: 0;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: url("https://www.dell.com/content/dam/uwaem/production-design-assets/en/CSG/lati-7400-2-in-1/7400-thumb.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
  position: relative; 
}

.footerwrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 0;
}
.footer {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.logodesc {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.fl{
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.fl h2{
 font-size: 3rem;
}
.logo {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  margin: 2rem;
}
.links {
  text-align: center;
  height: 100%;
  margin: 30px;
}
.links h3{
  font-size: 1.8rem;
  font-weight: 500;
}
.ul {
  padding: 0;
  list-style: none;
}
.ul li{
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.ul li:hover{
  font-weight: 600;
  
}
.footerwrapper p {
  color: rgb(45, 45, 45);
}
.socialmedia {
  display: flex;
  gap: 1rem;
  margin-left: 5rem;
  margin-top: 1rem;
}
.contact {
  margin: 2rem;
  display: flex;
}
.contact h4{
  color: white;
  font-size: 1.5rem;
}
.contact button {
  background-color: orangered;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  margin: 2rem;
  z-index: 1;
}
 .contact button:hover{
  color: white;
  transform: scale(1.05);
  background-color: red;
 }
 .grid {
  display: flex;
  margin-top: -5vh;
  height: fit-content;
  width: 100vw;
  justify-content: space-evenly;
}
.grid > * {
  position: relative;
}
.grid > *::after {
  content: '';
  position: absolute;
  top: 0;
  right: 150%;
  height: 100%;
  border: 1px dotted #b8b8b8; 
}