.done-button {
    display: block;
    margin: 0 auto;
  }
.msch{
  text-align: center;
  background-image: url("https://www.metrolibrary.org/sites/default/files/2023-09/lofi-girl-desk-v0-k3lzu25qbs6b1.png");
  background-size: cover;
  height: 80vh; 
  margin: 5rem;
}
.space{
  height:20%;

}
.input{

  text-align:center;
}
.msch-container{
  max-width: 370px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ffc99d80;
  background-color: rgba(255, 255, 255, 0.737);
  border-radius: 10px;
  backdrop-filter: blur(2px); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  height: 340px;
}
.msch h2{
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.883);
  margin-top: 0;
  padding-top: 2rem;
  text-align: center;
}
.msch h3{
  font-size: 1.5rem;
  color: rgb(38, 38, 38);
  margin-top: 2rem;
}
.msch ul{
  list-style: none;
  display: inline-block;
  font-size: 1rem;
  color: #1e1e1e;
  margin-top: 0.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.737);
  border-radius: 9px;
  border: 1px solid #ffc99d80;
  align-content: center;
  width: 70%;
  padding-left: 0%;
}
.msch li{
  padding: 7px;
  font-size: 16px;
  font-weight: 600;

}
.li{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.msch label{
  font-size: 1.2rem;
  color: #0a0a0a;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.msch input{
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  border-color: rgb(191, 191, 191);
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 4px;
}
.btndel{
  color: rgb(255, 255, 255);
  background-color: #000000;
  font-size: small;
  border: none;
  border-radius: 4px;
  padding: 0.4rem;
  font-weight: 500;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
.btndel:hover{
  background-color: #e1e0e0;
  color: #000000;
}
.btn{
  color: white;
  background-color: #000000;
  font-size: medium;
  border: none;
  border-radius: 4px;
  padding: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
.btn:hover{
  background-color: #e1e0e0;
  color: #000000;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.7); /* Light grey translucent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    font-size: x-large;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-content {
    text-align: center;
  }
  
